h1{
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 50px;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 98%;
    height: 94vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(bgboard.jpg);
    background-position: center;
    background-size: cover;
  }
.container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
  }
  
.btn {
    font-size: 20px;
    border-radius: 10%;
    padding: 20px;
    width: 90%;
    height: 15vh;
    margin: 0 auto;
    box-shadow: 10px 10px 5px black;
    transition: 0.5s;
    background-color: #6fe9ff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  
  